
<html>
<head>  
  <meta charset="utf-8">
  <link rel="stylesheet" href="{{url_for('static', filename='styles/style.css')}}" type="text/css" />
  <title> UserChat </title>
</head>

<body>
  <nav class="navbar navbar-inverse">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">User Chat</a>
      </div>
    </div>
  </nav>

  <h2>
    WELCOME TO THE CHAT
  </h2>

  <h3 style='color: #ccc;font-size: 30px;'>No message yet..</h3>
  <div class="message_holder"></div>

  <form action="" method="POST">
    <input type="text" class="username" placeholder="User Name"/>
    <input type="text" class="message" placeholder="Messages"/>
    <button id="sendbutton"> SEND </button>
    <button id="roombutton" value="room1"> Join Room 1 </button>
  </form>

  </div><!-- /.container -->
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>

  <script type="text/javascript">
    var socket = io.connect('http://' + document.domain + ':' + location.port);
    socket.on( 'connect', function() {
      socket.send( 'connected')
     })
    var btn = $('#sendbutton').on('click', function(e){
      e.preventDefault()
      var username = $('.username').val()
      var message = $('.message').val()
      socket.emit('myevent', {
        username: username,
        message: message,
        room:room
      })
      $('.message').val('')
      console.log("username: " + username)
      console.log("message: " + message)
      console.log("room: " + room)
    })

    var roombtn = $('#roombutton').on('click', function(e){
      e.preventDefault()
      var username = $('.username').val()
      room = e.target.value // declare globally
      socket.emit('join', {
        username: username,
        room: room
      })
      console.log("username: " + username)
      console.log("room: " + room)
    })

    socket.on('message', function(msg){
      if( typeof msg.username !== 'undefined' && msg.message!=='') {
        $( 'h3' ).remove()
        $( 'div.message_holder' ).append( '<div><b style="color: #000">'+msg.username+'</b> '+msg.message+'</div>' )
      }
      else {$('h3').text(msg)}
    })
  </script>
</body>
</html>
