h2{
  background: rgb(215, 250, 220);
  font-family: sans-serif;
}

body{
  background: rgb(215, 250, 220);
  font-family: sans-serif;
}

.myframe{
    background:#e0e0de;
    height:500px;
    overflow:scroll;
    padding:0;
}

 .myframe > div:last-of-type{
    position:absolute;
    bottom:10;
    width:100%;
}

ul {
    width:100%;
    height: 200px;
    list-style-type: none;
    display:flex;
    flex-direction: column;
}

.avatar_user{
    width:10%;
    float:left;
}

.avatar_other{
    width:10%;
    float:right;
    padding-right: 10%;
    }

.text{
    display:flex;
    flex-direction:column;
}

.text-l{
    float:left;
    margin:0px;
    padding-left:10px;
}
.text-r{
    float:right;
    padding-left:10px;
    padding-right:10px
}